///* ========================================================================
//   #COLORS PALETTE
//   ======================================================================== */

/* BRAND */
$primary: #540000;

/* GRAY */
$light-gray: #ccc;
$medium-gray: #666;
$dark-gray: #333;

/* DEFAULT STATUS */
$status-primary: #1e5799;
$status-primary-2: #7db9e8 ;
$status-error: #f44336;
$status-error-2: #f21000;
$status-alert: #ffeb3b;
$status-alert-2: #FFE100;
$status-valid: #36E28C;
$status-valid-2: #00e676;
$status-hidden: #BABABA;
$status-hidden-2: #9e9e9e;


/* NAMED */
$color-brand-1: $primary;
$color-brand-2: $primary;
$color-brand-3: $primary;
$color-gray-lt: $light-gray;
$color-gray-md: $medium-gray;
$color-gray-dk: $dark-gray;
$color-status-primary: $status-primary;
$color-status-primary-2: $status-primary-2;
$color-status-error: $status-error;
$color-status-error-2: $status-error-2;
$color-status-alert: $status-alert;
$color-status-alert-2: $status-alert-2;
$color-status-valid: $status-valid;
$color-status-valid-2: $status-valid-2;
$color-status-hidden: $status-hidden;
$color-status-hidden-2: $status-hidden-2;
