///* ========================================================================
//   #Global distance variables
//   ======================================================================== */

$distance-default--screen: 100px;
$distance-default--tablet: 100px;
$distance-default--smartphone: 50px;