///* ========================================================================
//   # SETTINGS -> Media query Breakpoints
//   ======================================================================== *

// SET RESPONSIVE BREAKPOINTS

// Resolutions vars
$lg-fluid: 'false';
$md-lg-fluid: 'true';
$md-fluid: 'true';
$md-sm-fluid: 'true';
$sm-fluid: 'true';

// Resolutions vars
$bp-sm: 480px;
$bp-md-sm: 768px;
$bp-md-lg: 1024px;
$bp-lg: 1200px;