// * ========================================================================
//   # TOOLS aspect -> Return height from given width and size ratio
//   ======================================================================== */

/*
** === USAGE ===
**
** @include calc-height($width, $ratio);
** $width => must be: px
** $ratio => must be: number (NOT STRING)
**
**
** === EXAMPLE USE ===
**
** .class{
**   @include calc-height(50px, 1);
** }
**
*/


@mixin calc-height($w,$r){
  // Debug => verify input
  $errorMessageSize: "Calc height => Unit property WIDTH must be 'px': 10px, 20px, ... (your value: #{$w})";
  $errorMessageRatio: "Calc height => Property RATIO must be a number: 1, 0.1, 1.1, ... (your value: #{$r})";
  @if unit($w) != 'px' { @error $errorMessageSize; }
  @if unit($r) != '' { @error $errorMessageRatio; }

  // Return
  height: $w / $r;
}